body{
    font-family: Roboto;
}

.heading{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}
.header{
}

.header__logo_white{
    display: none;
}

.text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.text_margin{
    margin-left: 34px;
    margin-right: 33px;
}

.text_flow{
    margin-bottom: 16px;
    text-align: left;
    width: 224px;    
}
.text_settings{
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 11px;

}

.center-content{
    display: flex;
    justify-content: center;
}

.collapse.show {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 809px;

    background: #2F3132;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-mob{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 809px;

    background: #2F3132;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-desktop{
    display: none;
}

.menu-mob .nav-item .nav-link{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C4C4C4;
    mix-blend-mode: 32px;

}

.menu-mob .active>.nav-link {
    border-bottom: 2px solid #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C4C4C4;
    mix-blend-mode: 32px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {    
    color: #C4C4C4;
}



.navbar-nav_mob{
    display: block;
}
.navbar-nav_desktop{
    display: none;
}


.menu-mob .navbar-nav .nav-link {
    text-align: center;
}

.navbar{
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
    z-index: 99;
}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.top{
    background: #E0E1E2;
    padding-bottom: 48px;
}
.top__text-marging{
    margin-left: 59px;
    margin-right: 59px;
}

.top__img{
    margin-top: 94px;  
    margin-bottom: 67px;
    height: 230px;
    background-image: url(img/mob/MX-Master\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.top__arrow{
    margin-top: 40px;
    height: 20px;
}

.bluetooth{
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}
.bluetooth__icon{
    margin-bottom: 27px;
}

.bluetooth__heading{
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth__img{
    height: 288px;
    background-image: url(img/mob/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.info{
    padding-top: 70px;
    padding-bottom: 63px;
}

.info__content{
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;    
    justify-content: center;
    gap: 6px;
}

.info__text{
    margin-left: 67px;
    margin-right: 61px;
}

.info__item{
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item-heading{
    margin-bottom: 5px;
}

.info__heading{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.carousel{
    margin-bottom: 100px;
}

.carousel-item{
}

.info__carousel .carousel-indicators{
    display: flex;
    justify-content: space-between;
}
.info__carousel .carousel-indicators li{
    height: 30px;
    width: 30px; 
    border-radius: 50%;
    bottom: -64px;
}

.info__carousel_img1{
    content: url(img/slider/mob/wood.png);
}
.info__carousel_img2{
    content: url(img/slider/mob/glass.png);
}
.info__carousel_img3{
    content: url(img/slider/mob/linoleum.png);
}
.info__carousel_img4{
    content: url(img/slider/mob/cloth.png);
}
.info__carousel_img5{
    content: url(img/slider/mob/marble.png);
}

.info__carousel_ind1{
    content: url(img/slider/mob/texture/wood-texture.png);
}
.info__carousel_ind2{
    content: url(img/slider/mob/texture/glass-texture.png);
}
.info__carousel_ind3{
    content: url(img/slider/mob/texture/linoleum-texture.png);
}
.info__carousel_ind4{
    content: url(img/slider/mob/texture/cloth-texture.png);
}
.info__carousel_ind5{
    content: url(img/slider/mob/texture/marble-texture.png);
}

.info__carousel > .carousel-control-next{    
    align-items: flex-end;
    bottom: -32px;
}

.info__carousel > .carousel-control-prev{    
    align-items: flex-end;
    bottom: -32px;
}

.info__carousel > .carousel-control-next .carousel-control-next-icon {
    background-image: url(img/slider/mob/arrow/arrow-right.png);
    color: #2F3132;
}

.info__carousel > .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(img/slider/mob/arrow/arrow-left.png);
    color: #2F3132;
}


.flow{
    padding-top: 70px;
    padding-bottom: 218px;
    background: #EDEDED;
    background-image: url(img/mob/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.flow_ol{
    margin-top: 36px; 
    margin-left: 54px;  
}

.settings{
    padding-top: 70px;
    background: #EDEDED;
}

.settings__slider{
    margin: 28px 22px 26px 23px;
}

.settings__slider-img{
    display: none;
}

.settings__content{    
    background: #C4C4C4;
    padding: 23px 22px 28px 29px;
}

.settings_icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.mouse__text{
    padding-top: 70px;
    padding-bottom: 20px;
    color: #2F3132;
}

.mouse__img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 310px;
}

.mouse__img_1{
    background-image: url(img/mob/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);        
}

.mouse__img_2{
    background-image: url(img/mob/image\ 2.png);
    background-position: bottom;
}

.footer{
    display: flex;
    justify-content: center;
    background: #2F3132;
    padding-top: 22px;
    padding-bottom: 37px;

    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
}

@media(min-width:768px){
    .top{
        padding-bottom: 80px;
    }
    .header__logo{
        width: 240px;
    }

    .navbar{        
        padding-top: 54px;
    }

    .top__img{
        margin-top: 160px;
        margin-bottom: 124px;
        height: 514px;
    }
    .heading{
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }
    .text{        
        font-size: 24px;
        line-height: 28px;
    }
    .text_flow{
        width: auto;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__text-marging{
        margin-left: 154px;
        margin-right: 155px;        
    }

    .top__arrow{
        margin-top: 76px;
        height: 29px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .bluetooth__icon {
        margin-bottom: 39px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
        margin-top: 76px;
    }

    .bluetooth__img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;        
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item {
        flex-basis: 300px;        
        min-height: 170px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }
    .flow{
        padding-bottom: 492px;
        padding-left: 64px;
        padding-right: 65px;
    }
    .text_flow-p{
        margin-left: 0;
        margin-right: 0;
    }
    .text_flow{
        padding: 8px 21px 4px 28px;
        width: auto;
        font-size: 20px;
        line-height: 23px;
        
        border-left: 1px solid #494949;
    }
    .text_flow:first-child{
        border-left: 0;
        padding-left: 0;
    }
    .text_flow:last-child{
        padding-right: 0;
    }

    .flow_ol{
        display: flex;
        list-style-position: inside;
        margin-left: 0;
        padding-left: 0;

    }
    .settings{
        padding-bottom: 70px;
    }

    .settings__slider {
        margin: 54px 198px 150px 199px;
    }

    .heading_settings{
        margin-left: 64px;
        margin-right: 65px;
    }
    .text_settings-p{
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__content{
        margin-left: 64px;
        margin-right: 65px;
        padding-top: 0;
        padding-bottom: 29px;
    }
    .settings_icons{
        padding-top: 38px;
        padding-left: 127px;
        padding-right: 126px;
    }

    .settings__img{
        height: 35px;
    }

    .text_settings{
        font-size: 20px;
        line-height: 23px;
    }

    .text_mouse{
        margin-left: 0;
        margin-right: 0;
    }

    .mouse__text{
        padding-left: 67px;
        padding-right: 65px;
        padding-bottom: 50px;
    }

    .mouse__img{
        height: 549px;
    }

    .mouse__img_1{
        background-image: url(img/tabl/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);
    }

    .mouse__img_2{
        background-image: url(img/tabl/image\ 2.png);
    }

    .footer{
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }
}

@media(min-width: 1024px){
    .center{
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading{
        font-size: 36px;
        line-height: 42px;
    }

    .text{
        font-size: 20px;
        line-height: 23px;
        mix-blend-mode: 35px;
    }

    .header{
        background: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .header__logo_white{
        display: block;
        width: 150px;
    }
    .header__logo_dark{
        display: none;
    }
    .navbar{
        padding-top: 0;  
        padding-bottom: 0;   
        width: 100%;   
    }

    .menu-desctop{
        display: flex;
        justify-content: flex-end;
    }
    

    .navbar-light .navbar-nav .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-light .navbar-nav .active>.nav-link, .navbar-light 
    .navbar-nav .nav-link.active, .navbar-light .navbar-nav 
    .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 1px solid #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item{
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;;
    }
    .nav-item:first-child{
        padding-left: 0;        
    }

    .nav-item:last-child{
        padding-right: 0;
        border:none
    }

    .menu-mob{
        display: none;
    }

  

    .top__img{
        margin-top: 20px;
        margin-bottom: 8px;
        height: 671px;
        padding-top: 80px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth__img{
        height: 427px;
        background: url(img/desctop/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px,
        url(img/desctop/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center_bluetooth{
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px); 
    }

    .bluetooth{
        padding-bottom: 69px;
    }

    .bluetooth__heading{
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 112px;
        text-align: center;
        text-transform: uppercase;
    }

    .bluetooth__heading_day{
        font-size: 300px;
        line-height: 352px;
        padding-left: 73px;
    }

    .bluetooth__heading_day-mini{
        padding-top: 45px;
    }

    .info{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text{
        width: 768px;
        margin: auto;
    }

    .info__item{
        min-height: 140px;
        padding-left: 32px;
        padding-right: 32px;
        flex-basis: 236px;
    }

    .info__slide{
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px); 
    }
    .info__carousel_img1{
        content: url(img/slider/desktop/wood.png);
    }
    .info__carousel_img2{
        content: url(img/slider/desktop/glass.png);
    }
    .info__carousel_img3{
        content: url(img/slider/desktop/linoleum.png);
    }
    .info__carousel_img4{
        content: url(img/slider/desktop/cloth.png);
    }
    .info__carousel_img5{
        content: url(img/slider/desktop/marble.png);
    }


    .carousel-indicators li {
       height: 30px; 
       background-image: url(img/wood.jpg);
    }

    .text_flow-p{        
    }

    .flow_ol {
        margin-top: 64px;
    }

    .flow{
        padding-bottom: 870px;
    }
    .flow_center{
        padding-left: calc(50% -  479px);
        padding-right: calc(50% - 479px); 
    }
    .settings{
        padding-bottom: 100px;
    }
    .settings__slider{
        display: none;
    }

    .text_settings-p{        
        width: 958px;
        margin: auto;
    }
    .settings__slider-img{
        display: flex;
        justify-content: center;
        margin-top: 72px;
    }

    .settings__content{
        width: 749px;
        margin: auto;
        
        padding-bottom: 29px;
        padding-left: 0;
        padding-right: 0;
    }
    .settings_icons{
        width: 512px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .text_settings{
        width: 628px;
        margin: auto;
    }

    .mouse_center{
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    .mouse_item{
        height: 557px;
        width: 50%;
        order: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mouse__text_1{
        padding-right: 217px;
        order: 1;
        
        order: 2;
    }
    .mouse__text_1 .heading{
        text-align: left;
    }

    .mouse__text_1 .text{
        text-align: left;
    }

    .mouse__text_2{
        padding-left: 217px;
        order: 3;
    }

    .mouse__text_2 .heading{
        text-align: right;
    }

    .mouse__text_2 .text{
        text-align: right;
    }

    .mouse__img_1{
        order: 1;
        background-image: url(img/desctop/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);
    }

    .mouse__img_2{
        order: 4;
        background-image: url(img/desctop/image\ 2.png);
    }

    
    
}